<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()"><ion-icon name="close" size="large"></ion-icon></ion-button>
          </ion-buttons>
        <ion-title>
            Modifier mot de passe
        </ion-title>
      </ion-toolbar>
  </ion-header>
  
  <ion-content class="popupPasswd">
      <form [formGroup]="formPassword" (ngSubmit)="updatePassword()">
      
          <ion-grid no-padding>
              <ion-item-divider no-padding>
                  <ion-label>
                    Saisissez votre nouveau mot de passe
                  </ion-label>
                </ion-item-divider>
            
            <ion-row>
                <ion-col>
                    <ion-item [class.error]="formErrors?.password">
                        <ion-label position="floating">Nouveau mot de passe</ion-label>  
                        <ion-input type="password" formControlName="password"></ion-input>
                      </ion-item>
                      <small>{{formErrors?.password}}</small>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-item [class.error]="formErrors?.password1">
                          <ion-label position="floating">Confirmer votre mot de passe</ion-label>  
                          <ion-input type="password" formControlName="password1"></ion-input>
                        </ion-item>
                        <small>{{formErrors?.password1}}</small>
                  </ion-col>
                </ion-row>
  
               
  
                  </ion-grid>
     
              <ion-button type="submit" expand="full">Modifier<ion-icon slot="end" name="unlock"></ion-icon></ion-button>
            </form>
  </ion-content>