<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservations">
      <ion-icon name="create"></ion-icon>
      <ion-label>Réservations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="disponibilite">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Dsipos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="charges">
        <ion-icon name="pricetags"></ion-icon>
        <ion-label>Charges</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
          <ion-icon name="cog"></ion-icon>
          <ion-label>Réglages</ion-label>
        </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
