.charges{
    ion-item-options{
        --ion-color-primary:#036;
    }
    .isCompany{
        --background:#ffffcd;
    }

    .isCar{
        --background:#defcff;
    }

    .isInProgress{
        --background: #fffdda;
    }
}